### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_df = pd.read_csv(file_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#change name of SN column to Players
purchase_df = purchase_df.rename(columns={"SN" : "Players"})
purchase_df.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#find total number of players by finding unique values in Players column
total_players = purchase_df["Players"].value_counts()
total_players

Lisosia93      5
Iral74         4
Idastidru52    4
Lisopela58     3
Iskadarya95    3
              ..
Hyaduesu61     1
Eosrirgue62    1
Sidap51        1
Yadanu52       1
Ilunyon70      1
Name: Players, Length: 576, dtype: int64

## Player Count

* Display the total number of players

In [25]:
#display Total Players count in summary dataframe
totalPlayers_df = pd.DataFrame({"Total Players": [len(total_players)]})
totalPlayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#calculate number of unique items
item_count = len(purchase_df["Item ID"].unique())

#calculate average price
average_price = purchase_df["Price"].mean()

#calculate number of purchases
total_purchases = len(purchase_df["Purchase ID"])

#calculate Total Revenue
total_revenue = sum(purchase_df["Price"])

#summary DataFrame with pd.DataFrame
purchase_summary = pd.DataFrame({"Number of Unique Items": [item_count],
                                    "Average Price": [average_price], 
                                    "Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]})
purchase_summary

#apply formatting to summary dataframe with .style.format

#copy dataframe for applying formatting
#formatted_summary = purchase_summary.copy(purchase)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
#use set_index to make Gender the index
#gender_df = purchase_df.set_index("Gender")
#gender_df.head()
noDup_df = purchase_df.loc[: , ["Gender", "Players", "Age"]].drop_duplicates()
noDup_df

#count unique male/female/other players
gender_df = noDup_df.groupby("Gender").count()["Players"]
gender_df

#percentage: we used another option to count values of players
#percentage_df = noDup_df["Gender"].value_counts()
#percentage_df

#finding gender totals using the no duplicates count of players
gender_totals = noDup_df["Gender"].count()
gender_totals

#calculating the gender percentages
Demo_per = (gender_df / gender_totals) * 100
Demo_per


genderStats_df = pd.DataFrame({"Total": gender_df, "Percentage of Players": Demo_per})
genderStats_df

#formatting summary DataFrame
genderStats_df.style.format({"Percentage of Players" : "{:,.2f}%"})


#percentage
#percentage_df = (gender_df / (totalPlayers_df["Total Players"])) * 100
#percentage_df

#m_player_count = gender_df.unique("Players" = "Male")
#player_count = gender_df.groupby("Gender")

#player_count

#m_player_count =

#f_player_count = 

#o_player_count = 

#gender_df.head()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame