### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [333]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
#tried adding utf-8 encoding after seeing html characters in github encoding="utf-8", but did not fix
purchase_df = pd.read_csv(file_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [334]:
#change name of SN column to Players
purchase_df = purchase_df.rename(columns={"SN" : "Players"})
purchase_df.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [335]:
#find total number of players by finding unique values in Players column
total_players = purchase_df["Players"].value_counts()
total_players

Lisosia93        5
Idastidru52      4
Iral74           4
Chadolyla44      3
Hada39           3
                ..
Undosia27        1
Aeralstical35    1
Saisrilis27      1
Quanenrian83     1
Heudai45         1
Name: Players, Length: 576, dtype: int64

## Player Count

* Display the total number of players

In [336]:
#display Total Players count in summary dataframe
total_player_count = [len(total_players)]
totalPlayers_df = pd.DataFrame({"Total Players": total_player_count})
totalPlayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [337]:
#calculate number of unique items
item_count = len(purchase_df["Item ID"].unique())

#calculate average price
average_price = purchase_df["Price"].mean()

#calculate number of purchases
total_purchases = len(purchase_df["Purchase ID"])

#calculate Total Revenue
total_revenue = sum(purchase_df["Price"])

#summary DataFrame with pd.DataFrame
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                                    "Average Price": [average_price], 
                                    "Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]})
purchase_summary_df

#format summary DataFrame
purchase_summary_df.style.format({"Average Price": "${:,.2f}", 
                                  "Total Revenue": "${:,.2f}"
                                 })

#Rebekah's suggestion: apply formatting to summary dataframe with .style.format

#copy dataframe for applying formatting
#formatted_summary = purchase_summary.copy(purchase)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [338]:
#drop duplicate players
noDup_df = purchase_df.loc[: , ["Gender", "Players", "Age"]].drop_duplicates()
noDup_df

#count unique male/female/other players
gender_df = noDup_df.groupby("Gender").count()["Players"]
gender_df

#percentage: we used another option to count values of players
#percentage_df = noDup_df["Gender"].value_counts()
#percentage_df

#finding gender totals using the no duplicates count of players
gender_totals = noDup_df["Gender"].count()
gender_totals

#calculating the gender percentages
Demo_per = (gender_df / gender_totals) * 100
Demo_per

#summary dataframe
genderStats_df = pd.DataFrame({"Total": gender_df, "Percentage of Players": Demo_per})
genderStats_df

#formatting summary DataFrame
genderStats_df.style.format({"Percentage of Players" : "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [339]:
#purchase count by gender, calling orig df that includes duplicates
purchbygender = purchase_df.groupby("Gender").count()["Players"]
purchbygender

#total spending by gender
spendingbygender = purchase_df.groupby("Gender").sum()["Price"]
spendingbygender

#average purchase price by gender
avg_purch_price = purchase_df.groupby("Gender").mean()["Price"]
avg_purch_price

#calculating average total purchase per person, using gender_df(count of unique players by gender)
total_purch_pp = spendingbygender / gender_df
total_purch_pp

#summary dataframe
gender_purch_df = pd.DataFrame({"Purchase Count": purchbygender, 
                                "Average Purchase Price": avg_purch_price, 
                                "Total Purchase Value": spendingbygender,
                                "Avg Total Purchase per Person": total_purch_pp})
gender_purch_df

#formatting summary DataFrame
gender_purch_df.style.format({"Average Purchase Price" : "${:,.2f}", 
                              "Total Purchase Value": "${:,.2f}", 
                              "Avg Total Purchase per Person": "${:,.2f}" 
                             })

#### Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [340]:
#Created a dataframe that doesn't use duplicates earlier
#noDup_df = purchase_df.loc[: , ["Gender", "Players", "Age"]].drop_duplicates()
#noDup_df

#Create a dataframe that doesn't use duplicates, but includes Playes and Age
age_demo_df = purchase_df.loc[: , ["Players", "Age"]].drop_duplicates()
age_demo_df

#figure out the min and max age
#max = noDup_df["Age"].max()
#min = noDup_df["Age"].min()
#print(max,min)

#set bin ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

#create labels for bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#slice the data and place it into bins
pd.cut(age_demo_df["Age"], bins, labels=group_names).head()

#Place the data series into a new column inside the dataframe
age_demo_df["Ages"] = pd.cut(age_demo_df["Age"], bins, labels=group_names)
age_demo_df.head()

#Create a groupby object based on "Ages"
age_groups = age_demo_df.groupby("Ages")
age_groups

#Find out how many rows fall into each bin
total_count = age_groups["Players"].count()
total_count = pd.DataFrame(total_count)
total_count

#get the average of players 
total_count["Percentage of Players"] = (total_count["Players"] / total_player_count) * 100
total_count

#get the average of players (changing the variable name)
#total_count_percentage = (total_count["Players"] / total_player_count) * 100
#total_count_percentage

#format summary dataframe
#total_count = pd.DataFrame({"Total Count" : total_count,
                           #"Percentage of Players"  : total_count_percentage})

       Players  Percentage of Players
Ages
<10         17               2.951389
10-14       22               3.819444
15-19      107              18.576389
20-24      258              44.791667
25-29       77              13.368056
30-34       52               9.027778
35-39       31               5.381944
40+         12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [360]:
#Create a dataframe that doesn't use duplicates, but includes Playes and Age
age_demo_purchases_df = purchase_df.loc[: , ["Players", "Age", "Purchase ID", "Item ID", "Item Name", "Price"]].drop_duplicates()
age_demo_purchases_df


#set bin ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

#create labels for bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#slice the data and place it into bins
pd.cut(age_demo_purchases_df["Age"], bins, labels=group_names).head()

#Place the data series into a new column inside the dataframe
age_demo_purchases_df["Ages"] = pd.cut(age_demo_purchases_df["Age"], bins, labels=group_names)
age_demo_purchases_df.head()

#group by Ages and count total purchases
age_groups_purchases = age_demo_purchases_df.groupby("Ages").count()["Purchase ID"]
age_groups_purchases

#find purchase count
#age_purchase_count = age_demo_purchases_df["Purchase ID"].count()
#age_purchase_count

#find total purchase value
age_purchase_value = age_demo_purchases_df.groupby("Ages").sum()["Price"]
age_purchase_value

#find average purchase price, using count of unique players 
age_average_purchase = age_purchase_value / age_groups_purchases 
age_average_purchase

#age_average_purchase = age_demo_purchases_df.groupby("Ages")["Price"].mean
#age_average_purchase

#count unique number of players by age
age_count_players = age_demo_purchases_df.groupby("Ages").count()["Purchase ID"]
age_count_players 

#find average total purchase per person, using count of unique players
#age_total_purch_pp = age_purchase_value / age_demo_df
#age_total_purch_pp = (total_revenue / total_player_count) * 100
#age_total_purch_pp = age_purchase_value / total_player_count
#find average total purchase per person, using count of purchases
#age_total_purch_pp = age_purchase_value / age_groups_purchases
#age_total_purch_pp

#get the average of players 
#total_count["Percentage of Players"] = (total_count["Players"] / total_player_count) * 100
#total_count

#find average total purchase per person, using count of unique players 
age_total_purch_pp = age_demo_purchases_df.groupby("Players").sum()["Price"]
avg_total_pp["Avg Total Purchase per Person"] = age_total_purch_pp / age_count_players

#avg_total_pp = age_total_purch_pp.groupby("Ages").mean()




#total_count["Percentage of Players"] = (total_count["Players"] / total_player_count) * 100
#total_count
#find average total purchase per person, using count of unique players 
#age_total_purch_pp["Avg Total Purchase per Person"] = (total_revenue / total_player_count) * 100
#age_total_purch_pp = age_demo_purchases_df.groupby("Ages").mean()(total_revenue / total_player_count) * 100
#age_total_purch_pp

#age_total_purch_pp = age_purchase_value / age_demo_df

#summary dataframe


#age_purchase_analysis_df = pd.DataFrame({"Purchase Count" : age_groups_purchases, 
                                         "Average Purchase Price" : age_average_purchase, 
                                         "Total Purchase Value" : age_purchase_value,
                                         "Avg Total Purchase per Person" : avg_total_pp})
#age_purchase_analysis_df

#age_total_purch_pp

#age_demo_purchases_df

#avg_total_pp

IndentationError: unexpected indent (<ipython-input-360-236bbad5f456>, line 75)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#set_index("Players")?
#.loc?

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#export file as a CSV
#dataframe_name.to_csv("csv_name.csv", index=False, header=True)